<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        About Us | Gilbert Chiu
      </h1>
      <h2 class="subtitle">
        Description
      </h2>
    </div>
  </div>


</section>
<br>
<p>This project was consisted of api from <b><i><u>https://docs.opendota.com/</u></i></b>.</p>
<p>It was originally a JSON format API and then enventually i converted it to csv for me to be able to use it from csv approach.
The API has a lot of Dataset about dota from Hero, Hero Stats, Role, Pro player, players, matches, and etc...</p>