<h1>Heroes</h1>
<ul>
  <% @heroes.each do |hero| %>
    <li><%= hero.name %></li>
    <li><%= hero.localized_name %></li>
  <% end %>
</ul>
<div>
  <%= link_to "Next Page", heroes_path(page: @page - 1)%>
  <%= link_to "Next Page", heroes_path(page: @page + 1)%>
</div>